* {
  margin: 0;
  padding: 0;
}

.custom-container {
  max-width: 1178px;
  width: 100%;
  margin: 0 auto;
}

.custom-container-sm {
  max-width: 878px;
  width: 100%;
  margin: auto;
}

h1 {
  font-family: $playfair-regular-font;
  font-weight: 700;
  color: $primary-text-color;
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: $testTiemposFine-Semibold;
  font-weight: 600;
  color: $primary-text-color;
  font-size: 48px;
  margin: 0;
}

h3 {
  font-family: $poppins-font;
  font-weight: 600;
  color: $primary-text-color;
  font-size: 32px;
  margin: 0;
}

p {
  font-size: 16px;
  font-family: $poppins-font;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button-primary {
  @include button($primary-color, $primary-text-color);

  &:hover {
    background-color: transparent !important;
    border: 1px solid $primary-btn-hover-border;
    color: $primary-btn-color;
  }
}

.button-secondary {
  @include button($secondary-color, $secondary-text-color);
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }
}