.banner {
  .left-sec-banner {
    .banner-paragraph {
      font-size: 24px;
      font-family: $primary-regular-font;
    }
  }
}

.product-wrapper {
  background: #363032;
  margin-top: 100px;
  padding: 168px 63px 64px 63px;

  .customer-num-detail-wrapper {
    left: 50%;
    transform: translate(-50%, 0);
    top: -17%;

    .branch-customer-detail {
      border-radius: 80px;
      background-color: $secondary-color;
      min-height: 188px;
      padding: 0 96px;

      .detail-card-wrapper {
        max-width: 170px;
        min-height: 140px;
        width: 100%;
        margin: auto;

        .section-detail {
          .coffee-icon {
            height: 36px;
            width: 36px;
            background-color: #FFFFFF59;
            border-radius: 50%;

            img {
              width: 24px;
              height: 24px;
            }
          }

          .number-detail {
            color: $primary-text-color;
          }
        }
      }
    }
  }

  .product-1 {
    max-width: 186px;
    width: 100%;

    .product-img {
      max-width: 186px;
      width: 100%;
      height: 246px;
      border-radius: 16px;
      overflow: hidden;
      margin: 0;
    }

    .product-name {
      color: #FFF;
    }
  }
}

.contact-wrapper {
  .contact-head {
    padding: 71px 0;
  }

  .contact-form-wrapper {
    max-width: 676px;
    width: 100%;
    min-height: 751px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);

    form {
      padding: 48px;

      .form-input-wrapper {
        gap: 40px;

        .contact-step-indicator {
          max-width: 157px;

          .indicator {
            width: 24px;
            height: 7px;
            border-radius: 16px;
            background-color: #DADADA;

            &.active {
              width: 81px;
              background-color: #A36A4F;
            }
          }
        }

        .main-input-wrapper {
          label {
            font-family: $secondary-font;
            font-size: 16px;
            font-weight: 400;
          }

          input,
          select {
            max-width: 375px;
            width: 100%;
            height: 62px;
            padding: 0 16px;
            border-radius: 8px;
            border: 1px solid #DADADA;

            &:focus {
              outline: none;
              box-shadow: none;
            }

            &:active {
              outline: none;
            }
          }
        }
      }

      .contact-btn .button-primary {
        background-color: #ECDAC4;
        color: #60431F;
      }
    }

  }
}
@media screen and (max-width: 1200px) {
  .customer-num-detail-wrapper{
    top: -10% !important;
  }
}
@media screen and (max-width: 992px) {
  .row {
    margin-left: 0;
  }

  .left-sec-banner {
    margin-bottom: 30px;
  }
  
  .product-wrapper {
    margin-top: 242px;
    padding: 0;
    padding-top: 232px;
    .customer-num-detail-wrapper{
      top: -17% !important;
    }

    .branch-customer-detail {
      padding: 20px !important;
    }
  }

  .contact-wrapper {
    .contact-head {
      text-align: center;
    }

    .contact-form-wrapper {
      margin: auto;
    }
  }

}

@media screen and (max-width: 768px) {
  .product-wrapper {
    margin-top: 360px;
    padding-top: 332px;
  }

  .first-last-name {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .product-wrapper {
    padding-top: 232px;
  }
  .contact-head {
    padding: 32px 0 !important;
  }

  form {
    padding: 32px !important;
  }
}